sample-flow.json
[{"id":"947f9a17.94ee9","type":"http in","z":"c7f90e2d.86ae48","name":"","url":"/modbus","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1060,"wires":[["a11d87ce.377d7","57d8880a.4a4ec"]]},{"id":"57d8880a.4a4ec","type":"function","z":"c7f90e2d.86ae48","name":"Parse GET parameters","func":"function readWrite(payload) {\n\tif(payload.waddr && payload.write && payload.raddr) {\n\t\treturn 1;\t\t// 1 = write/read\n\t} else if (!payload.waddr && payload.raddr) {\n\t\treturn 2;\t\t// 2 = read only\n\t} else {\n\t\treturn 0;\t\t// invalid\n\t}\n}\n\nfunction write(payload) {\n\tvar wmode = \"mom\";\n\t\t// mom = momentary (push button)\n\t\t// set = set/toggle\n\tif (payload.wmode) {\n    \twmode = payload.wmode;\n\t}\n\t\n\tvar wfc = 5;\n\tvar\trfc = 1;\n\tvar data,waddr,raddr;\n\tif (payload.write && payload.waddr) {\n\t    if (payload.wtype) {\n\t        var n = payload.wtype.localeCompare(\"h\"); \n\t        if (n===0) {\n\t            data = payload.write;\n \t            waddr = payload.waddr;\n\t            wfc = 6;\n\t        } else {\n\t            data = payload.write;\n\t            waddr = payload.waddr;\n\t        }\n\t    } else {\n\t        data = payload.write;\n\t        waddr = payload.waddr;\n\t    }\n\t    \n\treturn { \"payload\" : fillPayload(waddr,wfc,data),\n\t\t\t \"mode\" : wmode,\n\t\t\t \"read\" : read(payload) };\n\t}\n}\n\nfunction read(payload) {\n\tvar fc = 1;\n\tif (payload.raddr) {\n\t\tif (payload.rtype) {\n\t\t\tvar n = payload.rtype.localeCompare(\"h\");\n\t\t\tif (n===0) {\n\t        \taddr = payload.raddr;\n            \tfc = 3;\n        \t} else {\n            \taddr = payload.raddr;\n        \t}\n    \t} else {\n        \taddr = payload.raddr;\n    \t}\n\t}\n\treturn fillPayload(addr,fc,\"\");\n}\n\t\t\n\nfunction fillPayload(address,fc,data) {\n\treturn { \"value\" : data,\n\t\t\t \"fc\" : fc,\n\t\t\t \"address\" : address,\n\t\t\t \"unitid\" : 1,\n\t\t\t \"quantity\" : 1 };\n}\n\nswitch (readWrite(msg.payload)) {\n\tcase 0: return \"\";\n\tcase 1: return write(msg.payload);\n\tcase 2: return {\"payload\" : read(msg.payload)};\n\tdefault: return \"\";\n}","outputs":1,"noerr":0,"x":300,"y":1200,"wires":[["3e9bb0de.5b6db"]],"outputLabels":["write"]},{"id":"b217b75a.8ca5c8","type":"switch","z":"c7f90e2d.86ae48","name":"Write Mode","property":"mode","propertyType":"msg","rules":[{"t":"eq","v":"mom","vt":"str"},{"t":"eq","v":"set","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1180,"wires":[["ad4b3801.622938"],["b4aa18a9.77562"]],"outputLabels":["Momentary/Push button","Set/Toggle"]},{"id":"b4aa18a9.77562","type":"modbus-flex-write","z":"c7f90e2d.86ae48","name":"PLC - set","showStatusActivities":false,"showErrors":false,"server":"d28dffa6.b60818","x":860,"y":1220,"wires":[["f9c64566.f4161"],[]]},{"id":"ad4b3801.622938","type":"modbus-flex-write","z":"c7f90e2d.86ae48","name":"PLC - mom ON","showStatusActivities":false,"showErrors":false,"server":"d28dffa6.b60818","x":880,"y":1160,"wires":[["d890ac4e.b32e88","9b974d9a.8d3f3"],[]]},{"id":"d890ac4e.b32e88","type":"delay","z":"c7f90e2d.86ae48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":1160,"wires":[["dd7a2e7c.b8f12"]]},{"id":"dd7a2e7c.b8f12","type":"change","z":"c7f90e2d.86ae48","name":"send 0","rules":[{"t":"set","p":"payload.value","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1160,"wires":[["151216a0.6110e1"]]},{"id":"151216a0.6110e1","type":"modbus-flex-write","z":"c7f90e2d.86ae48","name":"PLC - mom OFF","showStatusActivities":false,"showErrors":false,"server":"d28dffa6.b60818","x":1400,"y":1160,"wires":[[],[]]},{"id":"496ffe2a.ae0548","type":"comment","z":"c7f90e2d.86ae48","name":"GET functions","info":"http://127.0.0.1:1880/modbus?\n\n**rtype (read type)** c = coils; h = holding registers\n\n**raddr (read address)** 0-65535\n\n---------------------------\n\n**write (data)** 0-65535\n\n**wtype (write type)** c = coils; h = holding registers\n_(optional - default = c)_\n\n**waddr (write address)** 0-65535\n\n**wmode (write mode)** mom = momentary; set = set/toggle\n_(optional - default = mom)_\n\n```\n**Turn on/off Family Light**\nhttp://127.0.0.1:1880/modbus?write=true&waddr=16394&wtype=c&wmode=mom&raddr=16994&rtype=c\n```\n```\n**Family Light Status**\nhttp://127.0.0.1:1880/modbus?raddr=16994&rtype=c\n```\n","x":90,"y":1020,"wires":[]},{"id":"f9c64566.f4161","type":"change","z":"c7f90e2d.86ae48","name":"set read","rules":[{"t":"move","p":"read","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1220,"wires":[["af04e546.ea42b"]]},{"id":"af04e546.ea42b","type":"modbus-flex-getter","z":"c7f90e2d.86ae48","name":"","showStatusActivities":false,"showErrors":false,"server":"d28dffa6.b60818","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1280,"y":1220,"wires":[["e9ef46cf.00b5c8"],[]]},{"id":"9b974d9a.8d3f3","type":"change","z":"c7f90e2d.86ae48","name":"set read","rules":[{"t":"move","p":"read","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1100,"wires":[["8c206643.48c96"]]},{"id":"8c206643.48c96","type":"modbus-flex-getter","z":"c7f90e2d.86ae48","name":"","showStatusActivities":false,"showErrors":false,"server":"d28dffa6.b60818","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":1280,"y":1100,"wires":[["57b68079.9947c8"],[]]},{"id":"3e9bb0de.5b6db","type":"switch","z":"c7f90e2d.86ae48","name":"Write/Read","property":"read","propertyType":"msg","rules":[{"t":"neq","v":"undefined","vt":"jsonata"},{"t":"eq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1200,"wires":[["b217b75a.8ca5c8"],["f7abde9a.921cb8"]],"outputLabels":["Write","Read"]},{"id":"f7abde9a.921cb8","type":"modbus-flex-getter","z":"c7f90e2d.86ae48","name":"","showStatusActivities":false,"showErrors":false,"server":"d28dffa6.b60818","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":900,"y":1280,"wires":[["6f16bada.ec301c"],[]]},{"id":"196c5231.46940e","type":"http response","z":"c7f90e2d.86ae48","name":"[get]/modbus","statusCode":"200","headers":{},"x":1890,"y":1060,"wires":[]},{"id":"a11d87ce.377d7","type":"change","z":"c7f90e2d.86ae48","name":"topic : get","rules":[{"t":"set","p":"topic","pt":"msg","to":"get","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1060,"wires":[["55dac355.58d81c"]]},{"id":"57b68079.9947c8","type":"change","z":"c7f90e2d.86ae48","name":"topic : response","rules":[{"t":"set","p":"topic","pt":"msg","to":"response","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1100,"wires":[["55dac355.58d81c"]]},{"id":"e9ef46cf.00b5c8","type":"change","z":"c7f90e2d.86ae48","name":"topic : response","rules":[{"t":"set","p":"topic","pt":"msg","to":"response","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1220,"wires":[["55dac355.58d81c"]]},{"id":"6f16bada.ec301c","type":"change","z":"c7f90e2d.86ae48","name":"topic : response","rules":[{"t":"set","p":"topic","pt":"msg","to":"response","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1280,"wires":[["55dac355.58d81c"]]},{"id":"55dac355.58d81c","type":"function","z":"c7f90e2d.86ae48","name":"[get] Response","func":"function setGet(msg) {\n    var cnxt = context.get(\"res\");\n    if (cnxt === null || cnxt === undefined) {\n        var n = msg.topic.localeCompare(\"get\");\n        if (n===0) {\n            context.set(\"res\",msg.res);\n            return true;\n        } else return false;\n    } else return true;\n}\n\nfunction setResp(msg) {\n    var cnxt = context.get(\"payload\");\n    if (cnxt === null || cnxt === undefined) {\n        var n = msg.topic.localeCompare(\"response\");\n        if (n === 0) {\n            var value;\n            if(msg.payload[0] === true) {\n                value = 1;\n            } else if (msg.payload[0] === false) {\n                value = 0;\n            } else {\n                value = msg.payload[0];\n            }\n            context.set(\"payload\",value);\n            return true;\n        } else return false;\n    } else return true;\n}\n\nif (setGet(msg) && setResp(msg)) {\n    var payload = context.get(\"payload\");\n    var res = context.get(\"res\");\n    context.set(\"payload\",null);\n    context.set(\"res\",null);\n    return { \"payload\" : payload ,\n             \"res\" : res };\n}","outputs":1,"noerr":0,"x":1720,"y":1060,"wires":[["196c5231.46940e"]]},{"id":"d28dffa6.b60818","type":"modbus-client","z":"","name":"PLC","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"38400","serialDatabits":"8","serialStopbits":"1","serialParity":"odd","serialConnectionDelay":"1000","unit_id":"1","commandDelay":"10","clientTimeout":"1000","reconnectTimeout":"2000"}]
